#box{
  
    width:400px;
    padding: 50px;
    margin: auto;
    text-align: center;
  }
  
  #header-box{
    border: 3px solid lightskyblue;
    border-radius: 12px;
  }
  #fname{
    width: 220px;
    height: 25px;
    border: 2px solid lightskyblue;
    border-radius: 4px;
  }
  #lname{
    width: 220px;
    height: 25px;
    border: 2px solid lightskyblue;
    border-radius: 4px;
  }
  #country{
    width: 220px;
    height: 25px;
    border: 2px solid lightskyblue;
    border-radius: 4px;
  }
  #add-button{
    background-color: transparent;
    color: lightskyblue;
    border: 2px solid lightskyblue;
    width: 70px;
    height: 30px;
  }
  #add-button:hover{
    background-color: lightskyblue;
    color: white;
  }
  .done{
    background-color: lightgreen;
    width: 150px;
    height: 50px;
    margin: auto;
    border: 2px solid mediumseagreen;
    margin-top: 2em;
    border-radius: 3px;
  }
  